// colors
$darkNavy:   #171E29;
$charcoal:   #232d3d;
$sherpaTeal: #14c4ce;
$lightBlue:  #65C8CE;
  $highlight: lighten($lightBlue, 20%);
$sherpaBlue: #235bed;
$ghostBlue:  #f3f6ff;
$yellow:     #ffc344;
$warning:    #FFBA28;
$orange:     #FF8646;
$green:      #16CE16;
$purple:     #8B48E0;
$red:        #ff0000;
$darkGray:   #747474;
$gray:       #B5B5B5;
$mediumGray: #d8d8d8;
$lightGray:  #f3f3f3;
$white:      #ffffff;

$padUnit: 1.5rem;
$padUnit: 5vw;
